<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="imgLogin">
  <ion-img class="img" width="50%" src="../../assets/logo.png"></ion-img>
</div>
    <form (ngSubmit)=login(forma) #forma="ngForm">
      <ion-title></ion-title>

      <ion-card>
        <ion-item>
          <ion-label  position="floating" color="green">Usuario:</ion-label>
          <ion-input ngModel #email="ngModel" name="email" type="email" minLength="5" maxLength="50" required placeholder="Ingrese su usuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label  position="floating" color="green">Contraseña:</ion-label>
          <ion-input ngModel #password="ngModel" name="password" type="password" minLength="5" maxLength="50" required placeholder="Ingrese su Contraseña"></ion-input>
        </ion-item>  
      </ion-card>
      
        <ion-button expand="block" type="submit" [disabled]="!forma.valid" href= "/home/tabs/tab1">Ingresar</ion-button>

        <ion-button color="secondary" expand="block" href= "/home/tabs/tab3">Registrarse</ion-button>
    </form>
</ion-content>