<ion-header>
    <ion-toolbar>
      <ion-title>
        Parque Metropolitano Simón Bolivar
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      
    <ion-card>
      <ion-img src="https://www.google.com/maps/vt/data=QD420_raKeljzSlqEVOGV8zlkicbwvUY5iuYb4swfpYUzl-rA_B7YgpSVAHQzQQKurLRr2jz36te9QZcTGBmZ4DA9Fgk1W5exqz6PpFHkGAADyN1Qb74ysSBe3DPYlfFXglJO4guByoOUzzSNnUr6PGoQs6ARZlPuOvNXpFZkLpOXUIQpF2o_YL7Q6zbu97MxA"></ion-img>
    </ion-card> 
  
    <ion-card>
    
    <ion-icon name="ios-leaf" style="color: greenyellow; font-size: 35px"></ion-icon>
      <ion-card-subtitle style="font-size: 30px; text-align: center">
        <pre>Total de Arboles                 5000</pre>
        <pre>Buen estado                      3500</pre>
        <pre>Mal estado                       1500</pre>
        <pre>_____________________________________</pre>        
      </ion-card-subtitle> 

    
    <ion-icon name="ios-leaf" style="color: greenyellow; font-size: 35px"></ion-icon>
    <ion-card-subtitle style="font-size: 30px; text-align: center">
        <pre>Total de Mobiliario               130</pre>
        <pre>Buen estado                        75</pre>
        <pre>Estado medio                       25</pre>
        <pre>Mal estado                         20</pre>
        <pre>Removidos                          10</pre>
    </ion-card-subtitle>
      
    </ion-card>
    
    <ion-card>
      <ion-button expand="block" href="./home/tabs/tab4">Agregar inventario</ion-button>
    </ion-card>
  
  </ion-content>