<ion-header>
    <ion-toolbar color="primary">
        <ion-icon name="ios-menu"></ion-icon>
      <ion-title>
      
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-card class="welcome-card">
  
        <ion-card-header>
          <ion-card-subtitle></ion-card-subtitle>
          <ion-card-title></ion-card-title>
        </ion-card-header>
        <ion-card-content>
      <p>Selecciona el parque al cual vas a realizar el inventario de acuerdo a tu ubicación.</p>
        </ion-card-content>
      </ion-card>
      <ion-list lines="none">
            <ion-item href="./home/tabs/tab2">
              <ion-item>
                
                  <ion-avatar slot="start">
                    <img src="https://bogota.gov.co/sites/default/files/styles/despliegue_1366x768_px/public/field/image/simon-bolivar.jpg">
                  </ion-avatar>
                </ion-item>
              <ion-list>Parque metropolitano Simon Bolivar</ion-list>
              <ion-card-content style="align-content: center">
                  <ion-card-subtitle>
                  <h6>
                    
                  </h6>
                  </ion-card-subtitle>
                  </ion-card-content>
            </ion-item>
            
            <hr>
  
            <ion-item href="https://www.google.com/maps/place/Parque+El+Lago+(Parque+De+Los+Novios)/@4.6547573,-74.0834089,17z/data=!3m1!4b1!4m5!3m4!1s0x8e3f9bb3e0cd9b97:0x6e58d26b08d3087d!8m2!3d4.6547573!4d-74.0812202">
              <ion-item>
                  <ion-avatar slot="start">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRo5lx6FmFH0UpYDum6SPHanHPyz19JDccEquVg2ZV-yD8bPALcOA">
                  </ion-avatar>
                </ion-item>
  
  
              <ion-label>Parque de los novios</ion-label>
            </ion-item>
            <ion-item href="https://www.google.com/maps/place/Parque+metropolitano+El+Tunal/@4.5739638,-74.1354629,17z/data=!3m1!4b1!4m5!3m4!1s0x8e3f9f37125f9a33:0xa0a2c9e3c0644d4f!8m2!3d4.5739585!4d-74.1332742">
              <ion-item>
                  <ion-avatar slot="start">
                    <img src="https://bogota.gov.co/sites/default/files/styles/despliegue_1366x768_px/public/field/image/simon-bolivar.jpg">
                  </ion-avatar>
                </ion-item>
              <ion-label>Parque el Tunal</ion-label>
            </ion-item>
            
      </ion-list>
  </ion-content>
  